@import "common"
::placeholder
  color: inherit
body
  font-family: 'Segoe UI','Helvetica Neue', Roboto,Arial,sans-serif
  font-size: 18px
  color: #010101
// img
//   width: 100%
.pad-top-40
  padding-top: 43px
.pad-bot-40
  padding-bottom: 43px
.headline
  &-span
    display: block
.headline-typography-super
  font-size: 60px
  line-height: 1.1
  font-weight: 600
  letter-spacing: -.025em
.headline-typography-elevated
  font-size: 60px
  line-height: 1.0625
  font-weight: 600
  letter-spacing: -.009em
.intro
  margin-top: 40px
  margin-bottom: 20px
  &-typography-super
    font-size: 25px
    line-height: 1.125
    font-weight: 600
    letter-spacing: .004em
.page
  position: relative
  // background-color: #110e21
.body__wrapper
  overflow: hidden
.section
  position: relative
  overflow: hidden
  &-hero
    background-color: #d8381e
    color: #ffffff
    padding-top: 25px
  &.pad-top
    padding-top: 140px
  &.pad-bot
    padding-bottom: 140px
  &-headline
    color: #b9b9b9
  &-subheadline
    font-size: 55px
  &-power
    background: #efefef
    color: #010101
  &-video
    .hero-films-container
      margin-left: auto
      margin-right: auto
      max-width: 1140px
      margin-top: 100px
      margin-bottom: 0
      .rock
        background-repeat: no-repeat
        background-image: url('../img/1556282356785.jpg')
        background-size: cover
      .live
        background-repeat: no-repeat
        background-image: url('../img/1556282532769.jpg')
        background-size: cover
      .icon-wrapper
        text-align: center
        color: #ffffff
      .center-items
        display: flex
        box-align: center
        justify-content: center
        align-items: center
      .block
        display: block
      .link-wrapper:hover
        text-decoration: none
      & > span
        margin-left: 0px !important
        display: none !important
.thumbnail
  float: left
  width: 50%
  height: 330px
  overflow: hidden
  position: relative
  display: inline-block
  vertical-align: top
  z-index: 1
  &-scrim
    position: absolute
    height: 100%
    width: 100%
    background: rgba(0,0,0,.15)
    transition: 500ms background-color cubic-bezier(0.4, 0, 0.6, 1)
  &:hover
    .thumbnail-scrim
      background: rgba(0,0,0,0.35)
.typography-headline
  font-size: 48px
  line-height: 1.08365
  font-weight: 600
  letter-spacing: -.003em
.typography-label
    font-size: 24px
    line-height: 1.16667
    font-weight: 600
    letter-spacing: .009em
.links-inline
  margin-top: 24px
  list-style: none
  padding: 0
  li
    margin: 0 0.8em
    display: inline
    &:first-child
      margin-left: 0
.icon-copy
  i
    vertical-align: middle
    margin-top: -1px
a[savefrom_lm_is_link="1"] // fix savefrom button
  display: none !important
.header
  position: relative
  color: #ffffff
  display: block
  .logo
    position: relative
    line-height: 0
  &-logo
    flex-basis: 375px
    max-width: 375px
  .block-one
    height: 50px
    color: #ffffff
    background: #494949
    .row
      justify-content: space-between
      align-items: center
      padding-top: 8px
    .slogan
      font-weight: 300
      font-size: 1.1rem
      letter-spacing: 0.04rem
      flex-basis: 250px
      max-width: 250px
  &-contact
    text-align: right
    color: #ffffff
    .block-contact
      display: flex
      justify-content: flex-end
      align-items: center
      & > *
        display: inline-block
.link-phone
  font-weight: 700
  font-size: 1.1rem
  color: #ffffff !important
  position: relative
  padding-left: 19px
  &:before
    background: url(http://www.shtorm-lorch.ru/assets/templates/lorch/img/sprite.png) no-repeat 0 0
    position: absolute
    display: block
    content: ''
    width: 14px
    height: 14px
    top: 50%
    left: 0
    margin-top: -7px
.link-email
  font-weight: 300
  font-size: 1.1rem
  color: #fff !important
  margin-left: 50px
.scroll-header
  padding: 20px 0
.main-menu
  display: flex
  justify-content: flex-end
  position: relative
  text-align: center
  margin: 0
  & > li
    position: relative
    margin-left: 42px
    &:first-child
      margin-left: 0px
    & > a
      font-weight: 700
      font-size: 16px
      text-transform: uppercase
      position: relative
      display: block
      padding: 8px 0
      color: #000
      &:after
        background: #c2222e;
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        -moz-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform-origin: center bottom;
        -moz-transform-origin: center bottom;
        -webkit-transform-origin: center bottom;
        -o-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;